.event-card {
  width: 40%;
  padding: 2rem;
  margin: 2rem;
  border: 1px black solid;
  font-size: 1.25rem;
  border-radius: 5px;
  box-shadow: 2px 2px #888888;
  background-color: #fbfbfb;

  //   transform: translateY(0px);
  //   transition: 0.5s;
}

@media (max-width: 800px) {
  .event-card {
    width: 75%;
    margin: 1rem 2rem;
  }
}

.event-title {
  padding-bottom: 2rem;
  color: #444b6e;
}

.artists {
  font-size: 1.6rem;
  color: lighten(#444b6e, 10%);
}

.set-time {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  color: lighten(#444b6e, 15%);
}

.description {
  font-size: 1rem;
  color: lighten(#444b6e, 15%);
}

.card-details {
  display: flex;
  height: 4rem;
  //   justify-content: space-evenly;
  justify-content: center;
  padding-top: 2rem;

  a {
    text-decoration: none;
  }
}

h2 {
  padding: 0.25rem;
  font-size: 2rem;
}
