.dashboard {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10rem;
  background-color: #242038;
  width: 100%;

  :hover {
    transform: translateY(-5px);
    transition: 0.5s;
  }
}

.addbutton {
  color: palevioletred;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
}
